html {
  background: #000;
  overflow: hidden;
}

body {
  margin: 0;
}

#world {
  height: 100%;
  outline: none;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}

#world .canvas {
  position: absolute;
}

#world .canvas2D {
  pointer-events: none;
  position: absolute;
}
